*.md
.gitignore
.git
.github
.gitattributes
*.log
logs/
target/
.mvn/
mvnw
mvnw.cmd
*.class
*.jar
.DS_Store
.vscode
.idea
*.iml
node_modules/
.env
.env.local
.env.*.local
docker-compose.yml
docker-compose.*.yml
.docker
.terraform
.terraform.lock.hcl
.gradle
build/
out/

